.sidebar {
    width : 280px;
    height: 1960px;
    position: absolute;
    left: 0%;
    right: 85.42%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
}
